app/node_modules
frontend/node_modules
app/npm-debug.log
frontend/npm-debug.log
.git
.gitignore
README.md
app/.env
app/.env.local
app/.env.development
app/.env.production
app/.nyc_output
app/coverage
app/.coverage
app/*.log
app/logs
app/data/database.db
app/data/*.db
.DS_Store