<!-- Editor Panel -->
<div class="editor-panel">
    <div v-if="!selectedWorkspace" class="welcome-screen">
        <h2>Welcome to <%= title %></h2>
        <p>Select a workspace from the sidebar or clone a repository to get started.<br/>
        Once connected, you'll have god-mode terminal access to your repositories.</p>
        <button @click="showRepositoriesModal = true" class="btn btn-icon">
            <i data-feather="git-branch"></i>
            Clone Your First Repository
        </button>
    </div>
    
    <template v-else>
        <div class="tab-bar">
            <div v-for="tab in terminalTabs" 
                 :key="tab.sessionId"
                 :class="{ 'tab': true, 'active': activeTabId === tab.sessionId }"
                 @click="switchToTab(tab.sessionId)">
                <i data-feather="terminal" class="icon"></i>
                <span class="tab-name">{{ tab.sessionName }}</span>
                <button v-if="terminalTabs.length > 1" 
                        class="tab-close" 
                        @click.stop="closeTab(tab.sessionId)"
                        title="Close tab">
                    <i data-feather="x" class="icon-small"></i>
                </button>
            </div>
            <button class="tab-add" @click="createNewTab" title="New terminal tab">
                <i data-feather="plus" class="icon-small"></i>
            </button>
        </div>
        
        <div class="terminal-container">
            <div v-for="tab in terminalTabs" 
                 :key="`terminal-${tab.sessionId}`"
                 :id="`terminal-${tab.sessionId}`" 
                 :class="{ 'terminal-wrapper': true, 'active': activeTabId === tab.sessionId }"
                 :style="{ display: activeTabId === tab.sessionId ? 'block' : 'none' }">
            </div>
        </div>
    </template>
</div>